/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.planet-modal {
  .mat-form-field {
    display: block;

    .mat-form-field-flex {
      background: transparent;
    }
  }
}
