<h1 mat-dialog-title>{{titlePlaceholder}} planet</h1>
<div mat-dialog-content [formGroup]="registerForm">

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Planet name</mat-label>
      <input matInput formControlName="planetName">
      <mat-error *ngIf="form.planetName.invalid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Planet description</mat-label>
      <textarea matInput formControlName="planetDescription"></textarea>
      <mat-error *ngIf="form.planetDescription.invalid">Enter at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Planet radius (KM)</mat-label>
      <input type="number" matInput formControlName="planetRadiusKM">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Planet color</mat-label>
      <input matInput formControlName="planetColor">
    </mat-form-field>

    <button mat-button (click)="openFileList(upload)">Upload planet image
    </button>
    <div class="upload">
      <input #upload hidden type="file" (change)="uploadOnChange($event, sourcePreview)" accept=".jpg, .png, .jpeg">
      <img #sourcePreview src="#" alt="">
    </div>
    <br>
    <label class="distance-label">Add distance (in MKm):</label>
    <div style="display: flex;">
      <mat-form-field class="distance-from-sun" appearance="fill">
        <mat-label>From Sun</mat-label>
        <input type="number" matInput formControlName="distanceFromSun">
      </mat-form-field>

      <mat-form-field class="distance-from-earth" appearance="fill">
        <mat-label>From Earth</mat-label>
        <input type="number" matInput formControlName="distanceFromEarth">
      </mat-form-field>
    </div>

  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onReset()">Cancel</button>
  <button mat-button [mat-dialog-close]="registerForm.value" cdkFocusInitial [disabled]="!registerForm.valid">Confirm</button>
</div>

