.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'header header header header header' 'left distance-earth main distance-sun right' 'footer footer footer footer footer';
  grid-gap: 10px;
  //background-color: #2196F3;
  padding: 10px;


  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }

  .distance-earth {
    @extend .centered-flex;
    grid-area: distance-earth;
  }

  .distance-sun {
    @extend .centered-flex;
    grid-area: distance-sun;
  }

  .footer {
    grid-area: footer;
    text-align: center;
    font-size: 18px;
  }

  .main {
    grid-area: main;
    text-align: center;

    :first-child {
      font-size: 30px;
      padding-bottom: 50px;
    }

    img {
      height: 500px;
      width: 500px;
      border-radius: 50%;
    }

    :last-child {
      padding-top: 20px;
      font-size: 20px;
    }
  }

  .right {
    @extend .centered-flex;
    grid-area: right;
  }

  .left {
    @extend .centered-flex;
    grid-area: left;
  }
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}
