<div *ngIf="id; else elseBlock" class="grid-container">

  <div class="header">
    <button mat-button [routerLink]="['/landingPage']">Back to list</button>
    <span>
      <button mat-button color="primary" class="action" (click)="actionService.editPlanet(planet, 'singlePlanet')">Edit planet</button>
      <button mat-button color="primary" class="action" (click)="actionService.deletePlanet(id, 'singlePlanet')">Delete planet</button>
    </span>
  </div>
  <div class="left">
    <img *ngIf="displayTagCondition(planet?.distInMillionsKM?.fromEarth)" src="../../assets/images/earth.jpeg" alt="">
  </div>
  <div class="distance-earth">
    <span *ngIf="displayTagCondition(planet?.distInMillionsKM?.fromEarth)">
      Distance from Earth: <br /> {{planet?.distInMillionsKM?.fromEarth}} MKm
    </span>
  </div>
  <div class="main">
    <div>{{planet?.planetName}}</div>
    <img src="{{planet?.imageUrl}}" alt="">
  </div>
  <div class="distance-sun">
    <span *ngIf="displayTagCondition(planet?.distInMillionsKM?.fromSun)">
    Distance from Sun: <br /> {{planet?.distInMillionsKM?.fromSun}} MKm
    </span>
  </div>
  <div class="right">
    <img *ngIf="displayTagCondition(planet?.distInMillionsKM?.fromSun)" src="../../assets/images/sun.jpeg" alt="">
  </div>
  <div class="footer">
    <div>{{planet?.description}}</div>
  </div>
</div>
<ng-template #elseBlock>No planet found</ng-template>
