<div class="search-container">
  <span>Search planets by name: </span>
  <input matInput type="text" [(ngModel)]="searchText">
</div>
<table class="table" matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">#No</th>
    <th mat-sort-header="planetName">Planet name</th>
    <th mat-sort-header="planetColor">Color</th>
    <th mat-sort-header="fromSun">Distance from sun</th>
    <th mat-sort-header="fromEarth">Distance from earth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr *ngFor="let planet of planets | filter: [searchText, 'planetName']">
    <td>{{planet.id}}</td>
    <td>{{planet.planetName}}</td>
    <td>{{planet.planetColor}}</td>
    <td>{{planet.distInMillionsKM?.fromSun}}</td>
    <td>{{planet.distInMillionsKM?.fromEarth}}</td>
    <td width="50px">
      <button mat-button color="primary" (click)="actionService.editPlanet(planet, 'landingPage')">Edit</button>
    </td>
    <td width="50px">
      <button mat-button color="primary" [routerLink]="['/landingPage', planet.id]">Details</button>
    </td>
    <td width="50px">
      <button mat-button color="primary" (click)="actionService.deletePlanet(planet.id, 'landingPage')">Delete
      </button>
    </td>
  </tr>
</table>
