

.search-container {
  padding: 16px;
}

.table {
  width: 100%;

  th {
    padding: 10px;
    background: #d4d4d4;
    font-weight: 600;
  }

  td {
    padding: 10px;
  }

  tr:nth-child(odd) {
    background: #efefef
  }
}