
.planets {
  padding: 30px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;

  .planet {
    border: 1px solid black;
    text-align: center;
    padding: 15px;

    img {
      height: 256px;
      width: 256px;
      border-radius: 50%;
    }

    :first-child {
      text-align: end
    }
  }
}


/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .planets {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .planets {
    grid-template-columns: repeat(3, 1fr);
  }
}