<div class="planets">
  <div class="planet" *ngFor="let item of planets; let i = index">
    <div>
      <button mat-button color="primary" [routerLink]="['/landingPage', item.id]">Details</button>
    </div>
    <div>{{item.planetName}}</div>
    <img src="{{item.imageUrl}}" alt="">
    <div>{{item.description}}</div>
  </div>
</div>
