<mat-toolbar>
  <span>Planets</span>
  <span class="spacer"></span>
  <button matTooltip="Create new planet" mat-button class="createNewPlanetBtn" color="primary"
          (click)="createNewPlanet()">Create
  </button>
  <mat-button-toggle-group name="listShape" (change)="toggleTable($event)">
    <mat-button-toggle [checked]="true" value="table" matTooltip="Switch to grid view">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="grid" matTooltip="Switch to table view">
      <mat-icon>table</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>
<div *ngIf="tableType === 'table'; else grid">
  <app-grid-view [planets]="planets"></app-grid-view>
</div>

<ng-template #grid>
  <app-table-view [planets]="planets"></app-table-view>
</ng-template>
