<h1 mat-dialog-title>Confirmation dialog</h1>
<div mat-dialog-content>
  You are about to delete planet, are you sure?
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onReset()">Cancel</button>
  <button mat-button [mat-dialog-close]="'confirm'">Confirm</button>
</div>